.search-container {
    position: relative;
}
.search-field {
    width: 320px;
    height: 30px;
}
/* .search-btn {
    position: absolute;
    right: 0;
    height: 30px;
} */
.pagination button {
    margin-left: 10px;
    background-color: white;
    border: 2px solid rgb(7, 117, 227);
}
.pagination .selected {
    background-color: rgb(7, 117, 227);
    color: white;
}
